// @import 'assets/style/init';

.cp_trip_icon {
  display: block;
  width: 40px;
  height: 40px;
  overflow: hidden;
  position: relative;
  @for $i from 1 through 11 {
    &.icon_#{$i} {
      > span {
        &:nth-of-type(1) {
          background-position-x: -40px * ($i - 1);
          background-position-y: 0px;
        }
      }
    }
  }

  > span {
    &:nth-of-type(1) {
      background-image: url('../../static/images/iconSprite.png');
      background-position: 0 0;
      background-repeat: no-repeat;
    }
    &:nth-of-type(2) {
      border: 2px solid transparent;
    }
  }
}
