#ct_trip_doll_edit_container {
  overflow: hidden;

  .cp_trip_doll {
    z-index: -999;
    top: -100%;
    left: -100%;
  }
  #frame_group {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    pointer-events: none;
    // > header,
    // > footer {
    //   width: 100%;
    //   display: flex;
    //   z-index: 2;
    //   &:before,
    //   &:after {
    //     content: '';
    //     display: block;
    //   }
    //   > div {
    //     flex: 1 1 auto;
    //     width: 100%;
    //   }
    // }
    // > header {
    //   position: absolute;
    //   top: -20px;
    //   &:before,
    //   &:after {
    //     flex: 0 0 75px;
    //     width: 75px;
    //     height: 40px;
    //     background-image: url('../../static/images/tripBoxHeader_01.png');
    //   }
    //   &:before {
    //     background-position: 0 0;
    //   }
    //   &:after {
    //     background-position: 100% 0;
    //   }
    //   > div {
    //     height: 40px;
    //     background-image: url('../../static/images/tripBoxHeader_02.png');
    //   }
    // }
    > .btn_saved {
      position: absolute;
      top: 80px;
      right: 20px;
      cursor: pointer;
      pointer-events: auto;
    }
    > .btn_random {
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
      pointer-events: auto;
    }

    // > footer {
    //   position: absolute;
    //   bottom: 0px;
    //   &:before,
    //   &:after {
    //     flex: 0 0 53px;
    //     width: 53px;
    //     height: 16px;
    //     background-image: url('../../static/images/tripBoxFooter_01.png');
    //   }
    //   &:before {
    //     background-position: 0 0;
    //   }
    //   &:after {
    //     background-position: 100% 0;
    //   }
    //   > div {
    //     height: 16px;
    //     background-image: url('../../static/images/tripBoxFooter_02.png');
    //   }
    // }
  }
  .thumbnail {
    position: absolute;
    top: 20px;
    left: 10px;
    display: inline-flex;
    flex-direction: column;
    overflow: hidden;
    height: 415px;
    a {
      cursor: pointer;
      pointer-events: auto;
      margin-top: 3px;
      > img {
        width: 80px;
        height: 80px;
        border: 2px solid rgb(188, 202, 210);
      }
    }
  }
  .fadeInY-item {
    transition: all 0.5s;
  }
  .fadeInY-enter-active,
  .fadeInY-leave-active {
    position: absolute;
  }
  .fadeInY-enter {
    opacity: 0;
    transform: translateY(83px);
  }
  .fadeInY-leave-to {
    opacity: 0;
    transform: translateY(-83px);
  }
  .code {
    width: 50%;
    margin: 0 auto;
    li {
      word-break: break-all;
      margin-top: 10px;
    }
  }
}
// $desktopHD | $desktop | $tablet | $mobile
@include devicepoint($tablet) {
  #ct_trip_doll_edit_container {
    .thumbnail {
      a {
        img {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}
